In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
# Ignore futurewarnings
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('../data/PostBooksEDA.csv', index_col=0)
df_encoded = pd.read_csv('../data/PostEncodedBooksEDA.csv', index_col=0)

# Content Based Recommendations

These recommendation engines are built around the idea if a user likes some item (or a particular basket of items) then they will like similar items based on the item content/description. If I watched the Avengers, then I probably would want to watch other superhero-themed movies. If we look at a few books along with their descriptions:

In [3]:
df_descriptions = df[['book_title', 'category']]
df_descriptions.head(10)

             book_title              category
0   Classical Mythology  science & technology
1          Clara Callan      unknown_category
2          Clara Callan      unknown_category
4          Clara Callan      unknown_category
5          Clara Callan      unknown_category
6          Clara Callan      unknown_category
7          Clara Callan      unknown_category
9          Clara Callan      unknown_category
10         Clara Callan      unknown_category
11         Clara Callan      unknown_category