# Data Preprocessing

We pick up where we left off by importing the cleaned BookEDA dataset and re-acquanting ourselves with the variables present in the data.

In [2]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from scipy import stats

In [17]:
# Read in the data and refresh our memories
df = pd.read_csv('../data/BooksEDA.csv', index_col=0)

In [19]:
df.head()

,user_id,age,isbn,rating,book_title,book_author,year_of_publication,publisher,language,city,state,country,category
0,2,18.0000,0195153448,0,Classical Mythology,Mark P. O. Morford,2002.0,Oxford University Press,en,stockton,california,usa,science & technology
1,8,34.7439,0002005018,5,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,en,timmins,ontario,canada,unknown
2,11400,49.0000,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,en,ottawa,ontario,canada,unknown
4,41385,34.7439,0002005018,0,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,en,sudbury,ontario,canada,unknown
5,67544,30.0000,0002005018,8,Clara Callan,Richard Bruce Wright,2001.0,HarperFlamingo Canada,en,toronto,ontario,canada,unknown

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 982278 entries, 0 to 1031174
Data columns (total 13 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   user_id              982278 non-null  int64
 1   age                  982278 non-null  float64
 2   isbn                 982278 non-null  object
 3   rating               982278 non-null  int64
 4   book_title           982278 non-null  object
 5   book_author          982278 non-null  object
 6   year_of_publication  982278 non-null  float64
 7   publisher            982278 non-null  object
 8   language             982278 non-null  object
 9   city                 982278 non-null  object
 10  state                982278 non-null  object
 11  country              982278 non-null  object
 12  category             982278 non-null  object
dtypes: float64(2), int64(2), object(9)
memory usage: 104.9+ MB

In [23]:
df.isna().sum()

user_id                0
age                    0
isbn                   0
rating                 0
book_title             0
book_author            0
year_of_publication    0
publisher              0
language               0
city                   0
state                  0
country                0
category               0
dtype: int64

As we can see, even though our data is clean, we are dealing with a large number of categorical values (stored as object type in pandas). We will somehow convert these values to numerical representations such that we can apply statistical modeling.